// color
$color_base: #333333;
$color_two: #0191F7;
$color_activ: #0191F7;


// size text
$fz_base: 15px;
$fz_titel: 24px;
$fz_bg-titel: 40px;
$fz_mini-text:13px;
@media(max-width: 420px){ 
  $fz_titel: 18px;
}


// transition
$tr_secont: 0.8s;

// fonts

$ff_base: "JetBrains Mono";
$ff_titel: "Druk Cyr";
$ff_text:'Source Code Pro', monospace;


//@media
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
