@import "./_v.scss";

/*-------------------------------autorization----------------------------------------*/
.autorization {
  padding: 120px 0 50px 0;
}

.autorization-block {
  background: #fdfdfd;
  box-shadow: 0px 7px 64px rgba(80, 77, 92, 0.1);
  border-radius: 10px;
  padding: 40px;
  max-width: 480px;
  margin: 0 auto;
}

.autorization-block__title {
  color: #121232;
  font-size: 23px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: center;
}


.error-message {
  color: rgb(195, 1, 1);
  margin-bottom: 10px;
  font-size: 12px;
}

/*-------------------------------button-autorization----------------------------------------*/
.button-autorization {
  background: #000000;
  border-radius: 4.8px;
  width: 100%;
  padding: 20px 0;
  font-size: 14px;
  color: #fff;
  padding: 15px 0;
  border: 1px solid #000000;
  text-transform: uppercase;
  transition: $tr_secont;
}

.button-autorization__margin {
  margin: 20px 0;
}

.button-autorization:hover {
  border: 1px solid rgb(102, 98, 98);
  background: #ffffff;
  color: #000;
  transition: $tr_secont;
}

.button-autorization:active {
  border: 1px solid rgb(102, 98, 98);
  background: #fff;
  color: rgb(102, 98, 98);
}

/*-------------------------------selection-entrance----------------------------------------*/
.selection-entrance {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}

.selection-entrance__text {
  margin-right: 5px;
}

.selection-entrance__subtext {
  color: #1456b8;
}

.selection-entrance__subtext:hover {
  color: #008dc5;
  transition: $tr_secont;
}

.selection-entrance__password {
  text-align: center;
}

.selection-entrance__text-grey {
  color: #848892;
}
.autorization-box {
  position: relative;
}

.autorization__box-input {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.87);
  padding: 10px;
  background: #fff;
  outline: none;
  color: #000;
  font-size: 14px;
  width: 100%;
  margin-bottom: 8px;
}

.autorization-box input:valid,
.autorization-box input:focus {
  border: 1px solid #9f9f9f;
}

/*-------------------------------media-mobile----------------------------------------*/

@media only screen and (max-width: 480px) {
  .selection-entrance,
  .selection-entrance__subtext {
    font-size: 12px;
  }

  .error-message {
    font-size: 10px;
  }
}

/*--------------------------------------forgotPassword--------------------------------*/

.autorization-block__subtitle {
  color: #848892;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
}
