@import "../style/_v";
.home__wrapper {
  margin: 30px auto 0px auto;
}
.cards-new-and-populer-wrappper {
  display: flex;
}
@media (max-width: 1160px) {
  .cards-new-and-populer-wrappper {
    display: flex;
    flex-direction: column;
  }
}
.cards-all__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media (max-width: 1220px) {
    display: flex;
    flex-direction: column-reverse;
  }
}
.main-title {
  text-align: center;
  font-size: $fz_bg-titel;
  text-transform: capitalize;
  margin: 20px 0px 0px 0px;
  line-height: 45px;
  span {
    background: $color_activ;
    padding: 0px 10px 0px 10px;
    color: #ffffff;
  }
  @media (max-width: 465px) {
    font-size: 30px;
  }
}
.cards-new {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid $color_base;
  margin: 0px 10px 0px 0px;
  padding: 30px 0px 0px 0px;
  position: relative;
  @media (max-width: 1220px) {
    justify-content: center;
  }
  @media (max-width: 950px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.cards-categoria {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 0px 0px;
  padding: 30px 0px 0px 0px;
  position: relative;
  @media (max-width: 1220px) {
    justify-content: center;
  }
  @media (max-width: 950px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.cards-popular {
  border-top: 2px solid $color_base;
  padding: 30px 0px 0px 0px;
  position: relative;
  @media (max-width: 1160px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // max-width: 800px;
  }
}
.cards-all {
  max-width: 800px;
  border-top: 2px solid $color_base;
  padding: 40px 10px 0px 0px;
  position: relative;
}
.cards-header-text {
  background: $color_base;
  font-family: $ff_text;
  padding: 3px 5px 5px 5px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.tags-conteiner {
  max-width: 520px;
  margin: 0px 10px 20px 30px;
  padding: 20px;
  border: 1px solid $color_base;
  display: flex;
  flex-direction: column;
  @media (max-width: 1220px) {
    margin: 0px 10px 20px 10px;
  }
  h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: $ff_titel;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid $color_base;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px 0px 0px;
  }
  li {
    padding: 15px 0px 15px 0px;
    margin: 5px 5px;
    text-align: center;
    font-size: $fz_mini-text;
    text-transform: uppercase;
    a {
      color: $color_base;
      padding: 5px 15px;
      background: #e5e5e5;
      border-radius: 25px;
      border: 1px solid transparent;
      transition: $tr_secont;
      &:hover {
        cursor: pointer;
        border: 1px solid $color_base;
        transition: $tr_secont;
      }
    }
  }
}
.load-more-button {
  display: flex;
  justify-content: center;
  button {
    font-size: $fz_base;
    background: $color_base;
    border-radius: $br-radius;
    color: #ffffff;
    text-transform: uppercase;
    padding: 15px 30px 15px 30px;
    margin: 10px 0;
  }
}
.read-more {
  padding: 30px 0px 150px 0px;
  &__title {
    text-align: center;
    font-size: $fz_bg-titel;

    // font-family: $ff_titel;
    margin: 20px 0px;
  }
  &__conteiner {
    display: flex;
    justify-content: center;
  }
}
