@import "../style/_v";
.home__wrapper {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  margin: 30px auto 0px auto;
  // align-items: center;
}
.cards__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media (max-width: 1220px) {
    display: block;
  }
}
.cards-all__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media (max-width: 1220px) {
    display: flex;
    flex-direction: column-reverse;
  }
}
.main-title{
  text-align: center;
  font-size: $fz_bg-titel;
  margin: 20px 0px 0px 0px;
  line-height: 45px;
  span{
    background: $color_activ;
    padding: 0px 10px 0px 10px;
    color:#ffffff;
  }
}
.cards-new {
  display: flex;
  border-top: 2px solid $color_base;
  margin: 0px 10px 0px 0px;
  padding: 50px 0px 0px 0px;
  position: relative;
  @media (max-width: 1220px) {
    justify-content: center;
  }
  @media (max-width: 950px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  &::before {
    content: "new";
    background: $color_base;
    padding: 5px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.cards-popular {
  border-top: 2px solid $color_base;
  padding: 50px 0px 0px 0px;
  position: relative;
  @media(max-width: 1220px){
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
  }
  &::before {
    content: "most recent";
    background: $color_base;
    padding: 5px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.cards-all {
  max-width: 800px;
  border-top: 2px solid $color_base;
  padding: 10px 10px 0px 0px;
  position: relative;
  &::before {
    content: "othre";
    background: $color_base;
    padding: 5px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.tags-conteiner{
  max-width: 520px;
  margin: 0px 30px 20px 30px;
  padding: 20px;
  border: 1px solid $color_base;
  display: flex;
  flex-direction: column;
  @media(max-width: 1220px){
    margin: 0px 10px 20px 10px

  }
  h2{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: $ff_titel;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid $color_base;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px 0px 0px;
  }
  li{
    padding: 15px 0px 15px 0px;
    margin: 5px 5px;
    text-align: center;
    font-size: $fz_mini-text;
    text-transform: uppercase;
    a{
      color: $color_base;
      padding: 5px 15px;
      background: #E5E5E5;
      border-radius: 25px;
      border: 1px solid transparent;
      transition: $tr_secont;
      &:hover{
        cursor: pointer;
        border: 1px solid $color_base;
        transition: $tr_secont;
      }
    }
  }
}
// .carts {
//   margin: 30px 0px 0px 0px;
//   @media (max-width: 1300px) {
//     // margin: 0px 0px 0px 0px;
//   }
// }
