@import "../style/_v";
.main-titel{
  margin: 50px 0px 0px 0px;
  font-size: 70px;
  display: block;
}
.home__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards__wrapper{
  display: flex;
}
.carts {
  margin: 50px 0px 20px 0px;
}
@media (max-width: 1300px) {
  .carts {

  }
}
@media (max-width: 500px) {
  .carts-wrapper {

  }
}
