@import "../style/v";

.card{
 max-width: 900px;
 margin: 50px auto 20px auto;
 border: 1px solid #000;
}
.card__img{
  max-width: 100%;
  max-height: 500px;
  background: #48484854;
}
.img{
  width: 100%;
  max-height: 500px;
}
.card__content{
  padding: 28px 30px ;
}
.card__link{
  color: #000;
  transition: $tr_secont;
}
// .card__link:hover{
//   transition: $tr_secont;
//   color: $color_two;
// }

.card__date-post{
  font-size: 12px;

}
.card__title{
  margin: 30px 0px 30px 0px;
}


