@import "../style/v.scss";

.footer{
  border-top: 1px solid $color_base;
  padding: 15px 0px 15px 0px;
}
.footer__logo{
  text-align: center;
}
//рroject creation begins. added header and рages login, singup, forgot pass 