@import "../style/v.scss";

.header {
  border-bottom: 1px solid $color_base;
  padding: 15px 0px 15px 0px;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 100;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items:center;
  }
  &__nav {
  }
  &__ul {
    display: flex;
    align-items: center;
  }
  &__link {
    color: $color_base;
    transition: $tr_secont;
    padding: 10px 0;
    position: relative;
    margin: 0px 20px 0px 20px;


    &:hover::before {
      content: "";
      position: absolute;
      display: block;
      animation: expand 0.3s ease-in-out;
      width: 100%;
      height: 2px;
      background: $color_activ;
      bottom: 5px;
      left: 0;
    }
    &:hover {
      color: $color_activ;
    }
    @keyframes expand {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
  }
}
// button menu
.burger-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}
.burger-bar {
  width: 26px;
  height: 2px;
  margin: 2px 0px 2px 0px;
  background: #000;
  transition: $tr_secont;
}
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: $tr_secont;
}
.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
}
.burger-bar.clicked:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -3px);
  transition: $tr_secont;
}

//
.logo {
  font-size: 30px;
  color: $color_base;
}
.header__auth {
  display: flex;
  align-items: center;
  
}
.auth {
  margin: 0px 10px 0px 10px;
}
.login {
  color: $color_base;
  background: none;
  padding: 10px 15px 10px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: $tr_secont;
  &:hover {
    background: #0000003c;
    transition: $tr_secont;
    padding: 10px 15px 10px 15px;
    border: 1px solid transparent;
    border-radius: 5px;
  }
}
.sing_up {
  background: #000;
  padding: 10px 15px 10px 15px;
  border: 1px solid#000;
  border-radius: 5px;
  color: #fff;
  transition: $tr_secont;
  &:hover {
    background: none;
    border: 1px solid#000000;
    color: $color_base;
    transition: $tr_secont;
  }
}

@media(max-width: $lg){
  .header {
    &__nav {
      display: none;
    }
  }
  .block-burger-menu{
    display: block;
  }
}
@media(max-width: $sm){
  .auth {
    // display: none;
  }
  .header{
   &__wrapper{
    // display: block;
   }
  }
  .login{
    background: #000;
    padding: 10px 15px 10px 15px;
    border: 1px solid#000;
    border-radius: 5px;
    color: #fff;
    transition: $tr_secont;
    &:hover {
      background: none;
      border: 1px solid#000000;
      color: $color_base;
      transition: $tr_secont;
    }
  }
  .sing_up{
    display: none;
  }
}