@import "../style/v";
.mini-post{
<<<<<<< HEAD
  max-width: 260px;
=======
  max-width: 340px;
>>>>>>> main
  border: 1px solid $color_base;
  margin: 0px 10px 20px 10px; 
  transition: $tr_secont;
  a{
    color: $color_base;
  }
   &__img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    padding: 5px;
  }
  &__title{
    font-family: $ff_titel;
    font-size: $fz_titel;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    word-spacing: 2px;
    margin: 0px 0px 20px 0px;
    &:hover{
      text-decoration: underline;
    }

  }
  &__text{
    padding: 0px 0px 45px 0px;
    @media(max-width: 470px){
      display: none;
    }
  }
}
.data-post{
  display: flex;
  align-items: center;
  font-size: 13px;
}
.post-tag{
  margin: 0px 10px 0px 0px;
  padding: 0px 10px 0px 0px;
  text-transform: capitalize;
  border-right:1px solid $color_base;
}
.post-data{
  padding: 0px 0px 0px 0px;
}
@media(max-width: 950px){
  .mini-post{
  max-width: 640px;
  margin: 0px 10px 20px 10px; 
  a{
    color: $color_base;
  }
   &__img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    padding: 10px 20px;
  }
  &__title{
    font-family: $ff_titel;
    font-size: $fz_titel;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    word-spacing: 2px;
    margin: 10px 0px 20px 0px;
    &:hover{
      text-decoration: underline;
    }

  }
  &__text{
    padding: 0px 0px 45px 0px;
    @media(max-width: 470px){
      display: none;
    }
  }
}
.data-post{
  display: flex;
  .post-data{
    padding: 0px 0px 0px 0px;
  }
}
}